.background{
    background-image: url(../images/background.jpg) !important;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}