.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #060c21;
    color: white;
    text-align: center;
  }

  .navigatie li 
  {
      color: white;
  }
  

  .navigatie
  {
      background-color: #060c21;
      color: white;
  }




